version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "bundle exec rails db:prepare && bundle exec rails server -b 0.0.0.0 -p 3000"
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379/0
      RAILS_ENV: development
    volumes:
      - .:/app

    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: bundle exec bin/jobs start
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379/0
      RAILS_ENV: development
    volumes:
      - .:/app

    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
